<!DOCTYPE html>
<html lang="{% if page %}{{ page.lang }}{% else %}{{ config.default_language }}{% endif %}">
<head>
    {% include "head.html" %}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="9938b778-ed02-42ed-b343-dc3efca0548a"></script>
</head>
<body>
      <header>
          {% include "header.html" %}
      </header>
      <main>
          {% block content %}
          {% endblock content %}
      </main>
      <footer>
          {% include "footer.html" %}
      </footer>
</body>
</html>
